@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  background-color: black;
  color: white;
  text-align: center;
}

.bodyContent {
    margin: 2.5vw auto;
    width: 75%;
}

.countdownContainer {
    margin: auto;
    max-width: 540px;
    background: black;
    border: 1px solid #999999;
    padding: 10px;
    box-shadow: 0 0 5px 3px #CCCCCC;
    }

.info {
font-size: 80px;
}

.hours, .minutes, .seconds {
    width:33%;
}

.data-table {
    width: 50%;
    float: left;
    padding: 20px 0 30px 0;
}

.data-table1 {
    float: inline-end;
    padding-right: 40px;
}

.data-table2 {
    float: inline-start;
    padding-left: 40px;
}

li {
    padding: 10px;
}

.description2 {
    padding-top: 5px;
}

.data-table-sd {
    width: 50%;
    float: left;
    padding: 0 0 40px 0;
}

p:last-of-type {
    margin-bottom: 0;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .data-table {
        width: 100%;
        padding: 0;
    }
    .data-table1 {
        float: none;
        margin: auto;
        padding: 26px 0 0 0;
    }
    .data-table2 {
        float: none;
        margin: auto;
        padding: 20px 0;
    }
    .data-table-sd {
        width: 100%;
        padding: 0;
    }
}

a {
  color: aqua;
}

a:hover {
  color: rgb(0, 120, 200);
}

a:visited {
  color: rgb(230, 53, 230);
}
