@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  background-color: black;
  color: white;
  text-align: center;
}

.bodyContent {
    display: grid;
    margin-top: 4vw;
}

.countContain {
    margin: auto;
}

.countdownContainer {
    top: 15%;
    left: 50%;
    text-align: center;
    background: rgb(0, 0, 0);
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 0 0 5px 3px #ccc;
    }

.info {
font-size: 80px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.bitcoinPricePicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.submitContainer {
  display: flex;
  justify-content: center;
}

input[type="button"] {
  height: fit-content;
  margin-left: 1em;
}

a {
  color: aqua;
}

a:visited {
  color: rgb(230, 53, 230);
}
