<!-- Future functionality: allow user to pick date range for data: https://www.youtube.com/watch?v=gTC4KTw3SwA -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoStatsApp</title>
    <link rel="icon" type="image/x-icon"
          href="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/256/Bitcoin-BTC-icon.png">
    <link rel="stylesheet" href="static/css/stylesheet.css">
  </head>
  <body>
      <div class="bodyContent">
        <table class="countdownContainer">
          <tr class="info">
            <td colspan="3">Next Update</td>
          </tr>
          <tr>
            <td class="hours" id="hours"></td>
            <td class="minutes" id="minutes"></td>
            <td class="seconds" id="seconds"></td>
          </tr>
          <tr>
            <td class="hours" id="hoursText">Hours</td>
            <td class="minutes" id="minutesText">Minutes</td>
            <td class="seconds" id="secondsText">Seconds</td>
          </tr>
        </table>
        <script type="text/javascript">
          function countdown() {
            var now = new Date();

            var eventDate = new Date(2050, 12, 31);

            var currentTime = now.getTime();
            var eventTime = eventDate.getTime();

            var remTime = eventTime - currentTime;

            var s = Math.floor(remTime / 1000);
            var m = Math.floor(s / 60);
            var h = Math.floor(m / 60);

            h %= 24;
            m %= 60;
            s %= 60;

            var hourText = document.getElementById("hoursText");
            var minuteText = document.getElementById("minutesText");
            var secondText = document.getElementById("secondsText");

            hourText = (h != 1) ? hourText.textContent="Hours" : hourText.textContent="Hour";
            minuteText = (m != 1) ? minuteText.textContent="Minutes" : minuteText.textContent="Minute";
            secondText = (s != 1) ? secondText.textContent="Seconds" : secondText.textContent="Second";

            document.getElementById("hours").textContent = h;
            document.getElementById("minutes").textContent = m;
            document.getElementById("seconds").textContent = s;

            if(h == 23 && m == 59 && s == 50) {
              console.log("Refreshed: " + now);
              window.location.reload();
            }

            setTimeout(countdown, 1000);
          }

          countdown();
        </script>
        <div class="content">
          <div class="parent-data-tables">
            <div class="data-table">
              <table class="data-table1">
              <tr>
                <td><b>Days Running: {{ days_running }}</b></td>
              </tr>
              <tr>
                <td>Low Time: {{ low_time }}</td>
              </tr>
              <tr>
                <td>Low Price: ${{ low_price }}</td>
              </tr>
              <tr>
                <td>Low Mode: {{ low_mode }}</td>
              </tr>
              <tr>
                <td>Low Accuracy: {{ low_accuracy }}</td>
              </tr>
              </table>
            </div>
            <div class="data-table">
              <table class="data-table2">
              <tr>
                <td><b>Data From: {{ data_from }}</b></td>
              </tr>
              <tr>
                <td>High Time: {{ high_time }}</td>
              </tr>
              <tr>
                <td>High Price: ${{ high_price }}</td>
              </tr>
              <tr>
                <td>High Mode: {{ high_mode }}</td>
              </tr>
              <tr>
                <td>High Accuracy: {{ high_accuracy }}</td>
              </tr>
            </table>
            </div>
          </div>
          <div class="description">
            <h1>How it works</h1>
            <p>
                <b>1.</b> The price of Bitcoin is retrieved from
                <a href="https://cointelegraph.com/bitcoin-price-index"
                target="_blank" rel="noopener noreferrer">Cointelegraph</a>
                every hour and stored in
                <a href="https://docs.google.com/spreadsheets/d/1OKWn63iR-B9nxYuqebhIDhiasZWOT-61gUeoJkq8dsQ/edit#gid=0"
                target="_blank" rel="noopener noreferrer">this</a>
                Google Sheets file.
            </p>
            <p>
                <b>2.</b> At midnight every night, the hours when Bitcoin's highest and lowest price occurred are stored in
                <a href="https://docs.google.com/spreadsheets/d/1OKWn63iR-B9nxYuqebhIDhiasZWOT-61gUeoJkq8dsQ/edit#gid=1815142441"
                target="_blank" rel="noopener noreferrer">this</a>
                Google Sheets file.
            </p>
            <p><b>3.</b> The modes for the highest price and lowest price times are calculated.</p>
            <p>
                <b>4.</b> Accuracy is calculated by dividing the number of times the mode occurred for the high/low times by
                the total number of data points.
            </p>
          </div>
          <div class="description2">
            <p>
              This website aims to introduce a form of data I have yet to find elsewhere and to test how accurate this
              type of data can be. The longer this website is up, the more we will learn about how accurate this type
              of data is and, thus, how useful it is. If the data proves to be more than 50% accurate, stats for
              additional cryptocurrencies will be implemented.
            </p>
            <p>
              This website also serves as a learning experience for full-stack development;
              I will optimize and add features as I continue to learn.
            </p>
            <p>
              Disclaimer: Past performance is not indicative of future performance, therefore the
              information here should be taken with a grain of salt.
            </p>
            <p>
              To send suggestions, email me at:
              <a href="mailto:heistproduction@gmail.com" target="_blank" rel="noopener noreferrer">heistproduction@gmail.com</a>
            </p>
            <div class="data-table-sd">
              <p class="data-table1">
              Source code: <a href="https://github.com/Tyler-Heist/cryptostatsapp" target="_blank">Github</a>
              </p>
            </div>
            <div class="data-table-sd">
              <p class="data-table2">
                Data source:
                <a href="https://cointelegraph.com/bitcoin-price-index" target="_blank" rel="noopener noreferrer">
                Cointelegraph
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
